@import '@picocss/pico/css/pico.min.css';

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    padding: 0 var(--pico-spacing);
    border: var(--pico-border-width) solid var(--pico-muted-border-color);
}

nav ul:last-of-type {
    margin: 0;
}

nav li {
    padding: calc(var(--pico-spacing) * 0.6) var(--pico-nav-element-spacing-horizontal);
}

nav svg {
    width: 1.25rem;
    height: 1.25rem;
}

.collectionNav svg {
    width: 1rem;
    height: 1rem;
}

.page {
    flex-grow: 1;
}

button {
    padding: 0.25rem 0.5rem;
}

[role="button"] svg, button svg {
    width: 1rem;
    height: 1rem;
}

.toast {
    position: fixed;
    z-index: 999;
    min-width: 3rem;
    min-height: 3rem;
    bottom: 1rem;
    right: 2rem;
    background-color: var(--pico-code-background-color);
    border: 2px solid var(--pico-muted-color);
    border-radius: 0.5rem;
    padding: 0.25rem 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}

.toast svg {
    width: 1rem;
    height: 1rem;
}

.warning svg {
    color: orange;
}

.contain-scroll {
    overflow: hidden;
}

label.editorInput {
    width: 100%;
    padding: calc(var(--pico-spacing) * 0.5) var(--pico-spacing);
    border-bottom: var(--pico-border-width) solid var(--pico-muted-border-color);
}

/** Extend Milkdown styles **/
.editor {
    border: 1px solid var(--pico-form-element-border-color);
    border-radius: 0.25rem;
    margin-top: calc(var(--pico-spacing) * 0.5);
    margin-bottom: var(--pico-spacing);
    padding: var(--pico-form-element-spacing-vertical) var(--pico-form-element-spacing-horizontal);
    max-height: 10rem;
    overflow-y: auto;
}

.ProseMirror-focused {
    outline: none;
    border: var(--pico-border-width) solid var(--pico-form-element-active-border-color);
    box-shadow: 0 0 0 var(--pico-outline-width) var(--pico-form-element-focus-color);
}

@media (min-width: 720px) {
    body {
        height: 100vh;
    }
}
